@media screen and (max-width:1200px){
    .bitcoin img{
        height:300px;
        width:300px;
    }
}

@media screen and (max-width:900px){
    .bitcoin img{
        height:250px;
        width:250px;
    }
}